# pycharm
.idea/
**/__pycache__/

# build files and dirs
build/
dist/
.pytest_cache/
rf_counterfactuals.egg-info
.eggs/

# Virtual enviroment
venv/

# Examples (jupyter notebook)
examples/.ipynb_checkpoints/
experiments/.ipynb_checkpoints/

main.py
